.flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.settingsBlock{
    transition: 0.2s linear;
    width: 75%;
    overflow: hidden;
    height: 550px;
    background-color: whitesmoke;
    border-radius: 15px;
}
/*.allSteps{*/
/*    display: flex;*/
/*    transition: 0.2s linear;*/
/*    width: 400%;*/
/*    height: 400px;*/
/*    overflow: hidden;*/
/*}*/

.tab{
    padding: 15px;
    width: 25%;
    background-color: #484848;
    border:none;
    border-left: 1px solid rgba(0,0,0,0.5);
    color:#fff;
}
.tab:first-child{
    border-left: none;
}
.activeTab{
    color: #464646;
    background-color: whitesmoke;
}
.modes{
    outline: none;
    cursor: pointer;
    min-width: 100px;
    border:1px solid #ccc;
    border-radius: 15px;
    padding: 12px 15px;
    box-shadow: 2px 2px 8px #ccc;
    margin-bottom: 20px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selected{
    border: 1px solid limegreen;
    box-shadow: 1px 1px 15px limegreen;
    background-color: limegreen;
    color: white;
}

.step1,.step2,.step3,.step4{
    display: inline-block;
    z-index: 2;
    flex-shrink: 0;
    flex-basis: 25%;
    height: 100%;
}

.step1Title{
    color: #484848;
}
.step1Items,.step2Items,.step3Items{
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}



.hidden{
    opacity: 0;
}
.buttonBlock div{
    max-width: 200px;
    margin: 0 auto 20px auto;
}
.addPlayer input{
    width: 80%;
    padding: 10px;
    outline: none;
    border: none;
    background: whitesmoke;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.addPlayer input:focus{
    border-bottom: 1px solid limegreen;
}
.players{
    margin-bottom: 15px;
    max-height: 200px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.players div{
    width: 200px;
    margin: 10px 0;
    border:1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 1px 10px #ccc;
}
